<h1>Documents</h1><a>delete</a><a>move from one project to other</a>
<div id="text-document">
<div id="primary" data-mercury="full">
  default content
</div>
</div>
<a>Tell something about this document</a>

<%= link_to 'Edit Page',"/editor" + request.path%>
<%= link_to "<< Back to Project",:controller => "project",:action => "index"%>