<!--
<table summary="Page form fields">
  
  <tr>
   	<th><%= f.hidden_field(:project_id)%></th>
    <th><%= f.label(:topic_name) %></th>
    <td><%= f.text_field(:topic_name) %></td>
  </tr>
</table>

-->

