

  <table class="" summary="">
    <tr class="">
     
      <th>Topics you created</th>
     
      
    </tr>
    <% @topic.each do |topic| %>
    <tr>
      
      <th><%= topic.topic_name %></th>
     </tr>
    <% end %>
  </table>

